USE [master]
GO
/****** Object:  Database [standburg_db]    Script Date: 16/4/2025 10:33:36 ******/
CREATE DATABASE [standburg_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'standburg', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\standburg.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'standburg_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\standburg_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [standburg_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [standburg_db]
GO
/****** Object:  User [adminStandburg]    Script Date: 16/4/2025 10:33:36 ******/
CREATE USER [adminStandburg] FOR LOGIN [adminStandburg] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [adminStandburg]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 16/4/2025 10:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[nombre] [nvarchar](100) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ADMIN_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 16/4/2025 10:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[categoria_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CATEGORIA_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PEDIDO]    Script Date: 16/4/2025 10:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDO](
	[detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NOT NULL,
	[producto_id] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[notas_producto] [nvarchar](255) NULL,
 CONSTRAINT [PK_DETALLE_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DETALLE_PEDIDO_PedidoProducto] UNIQUE NONCLUSTERED 
(
	[pedido_id] ASC,
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESAS]    Script Date: 16/4/2025 10:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESAS](
	[mesa_id] [int] IDENTITY(1,1) NOT NULL,
	[numero_mesa] [nvarchar](20) NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MESAS] PRIMARY KEY CLUSTERED 
(
	[mesa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MESAS_NumeroMesa] UNIQUE NONCLUSTERED 
(
	[numero_mesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 16/4/2025 10:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[pago_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NOT NULL,
	[turno_id] [int] NULL,
	[fecha_pago] [datetime2](7) NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[metodo] [nvarchar](50) NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PAGOS] PRIMARY KEY CLUSTERED 
(
	[pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 16/4/2025 10:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[pedido_id] [int] IDENTITY(1,1) NOT NULL,
	[mesa_id] [int] NULL,
	[cliente_nombre] [nvarchar](150) NULL,
	[cliente_telefono] [nvarchar](50) NULL,
	[cliente_direccion] [nvarchar](255) NULL,
	[fecha_hora] [datetime2](7) NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[notas] [nvarchar](max) NULL,
 CONSTRAINT [PK_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[pedido_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 16/4/2025 10:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[producto_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[categoria_id] [int] NOT NULL,
	[imagen_url] [nvarchar](255) NULL,
	[disponible] [bit] NOT NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 16/4/2025 10:33:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS](
	[turno_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id_apertura] [int] NOT NULL,
	[admin_id_cierre] [int] NULL,
	[fecha_hora_apertura] [datetime2](7) NOT NULL,
	[fecha_hora_cierre] [datetime2](7) NULL,
	[saldo_inicial] [decimal](12, 2) NOT NULL,
	[monto_final] [decimal](12, 2) NULL,
	[ventas_calculadas] [decimal](12, 2) NULL,
	[diferencia] [decimal](12, 2) NULL,
	[estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TURNOS] PRIMARY KEY CLUSTERED 
(
	[turno_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] ADD  CONSTRAINT [DF_DETALLEPEDIDO_Cantidad]  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[MESAS] ADD  CONSTRAINT [DF_MESAS_Estado]  DEFAULT (N'Libre') FOR [estado]
GO
ALTER TABLE [dbo].[PAGOS] ADD  CONSTRAINT [DF_PAGOS_FechaPago]  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[PAGOS] ADD  CONSTRAINT [DF_PAGOS_Estado]  DEFAULT (N'Completado') FOR [estado]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  CONSTRAINT [DF_PEDIDOS_FechaHora]  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  CONSTRAINT [DF_PEDIDOS_Estado]  DEFAULT (N'PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  CONSTRAINT [DF_PEDIDOS_Tipo]  DEFAULT (N'Comer Aquí') FOR [tipo]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  CONSTRAINT [DF_PEDIDOS_Total]  DEFAULT ((0.00)) FOR [total]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  CONSTRAINT [DF_PRODUCTOS_Disponible]  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[TURNOS] ADD  CONSTRAINT [DF_TURNOS_FechaApertura]  DEFAULT (getdate()) FOR [fecha_hora_apertura]
GO
ALTER TABLE [dbo].[TURNOS] ADD  CONSTRAINT [DF_TURNOS_SaldoInicial]  DEFAULT ((0.00)) FOR [saldo_inicial]
GO
ALTER TABLE [dbo].[TURNOS] ADD  CONSTRAINT [DF_TURNOS_Estado]  DEFAULT (N'Abierto') FOR [estado]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEPEDIDO_PEDIDOS] FOREIGN KEY([pedido_id])
REFERENCES [dbo].[PEDIDOS] ([pedido_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLEPEDIDO_PEDIDOS]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEPEDIDO_PRODUCTOS] FOREIGN KEY([producto_id])
REFERENCES [dbo].[PRODUCTOS] ([producto_id])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLEPEDIDO_PRODUCTOS]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_PEDIDOS] FOREIGN KEY([pedido_id])
REFERENCES [dbo].[PEDIDOS] ([pedido_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_PEDIDOS]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_TURNOS] FOREIGN KEY([turno_id])
REFERENCES [dbo].[TURNOS] ([turno_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_TURNOS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_MESAS] FOREIGN KEY([mesa_id])
REFERENCES [dbo].[MESAS] ([mesa_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_MESAS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIA] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[CATEGORIA] ([categoria_id])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIA]
GO
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_AdminApertura] FOREIGN KEY([admin_id_apertura])
REFERENCES [dbo].[ADMIN] ([admin_id])
GO
ALTER TABLE [dbo].[TURNOS] CHECK CONSTRAINT [FK_TURNOS_AdminApertura]
GO
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_AdminCierre] FOREIGN KEY([admin_id_cierre])
REFERENCES [dbo].[ADMIN] ([admin_id])
GO
ALTER TABLE [dbo].[TURNOS] CHECK CONSTRAINT [FK_TURNOS_AdminCierre]
GO
USE [master]
GO
