.main-header {
  background-color: #1e1e2f;
  padding: 1rem;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-img {
  height: 80px;
}

.card-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  background-color: #6e0000;
  width: 120px;
  height: 100px;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  text-align: center;
}

.card:hover {
  background-color: #ff3b3f;
  transform: scale(1.05);
}

.card .icon {
  font-size: 28px;
  color: #ffffff; 
}

.card span {
  font-size: 13px;
  font-weight: 500;
  color: white;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .card {
    width: 45%;
    height: 110px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    height: 100px;
  }

  .card .icon {
    font-size: 24px;
  }

  .card span {
    font-size: 12px;
  }
}

.logout-card {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white; /* O el color que usen los otros íconos/texto */
}

.logout-card:hover {
  background-color: #d9534f; /* Un color rojo para indicar una acción destructiva */
}